#personal
    .main
        .carousel
            &Wrap
                flex: 0 0 250px
                margin: 0 30px
                height: 333px
                border-radius: 20px
                overflow: hidden
                position: relative
                z-index: 1
            &Inner img
                transition: all 1s linear
                &:hover
                    transform: rotate(-10deg)
                
            
        .aboutMe
            font-family: Microsoft JhengHei
            font-size: 2.2rem
            letter-spacing: 2px
            text-align: justify
            font-size: 0